.nav::-webkit-scrollbar {
  display: none;
}

.wrap {
  display: grid;
  grid-template-columns: 254px 1fr;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  transition: grid-template-columns 0.5s;
}

.nav {
  position: sticky;
  top: 0;
  height: 100vh;
  border-radius: 0px 30px 0px 0px;
  background: #0000ce;
  box-shadow: 0px 3px 55px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  // overflow-y: auto;
  transition: width 0.5s ease-in-out;
  width: 254px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  .navIcon {
    padding-top: 14px;
    padding-inline: 15px;
    border-bottom: 1px solid #fff;
  }
}

.wrapNavBar {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
